<div class="article-body">

    <div class="article-intro" id="content">

        <h1>AngularJS <span class="color_h1">API</span></h1>

        <hr>
        <p class="intro">API 意为 <strong>A</strong>pplication
            <strong>P</strong>rogramming <strong>I</strong>nterface（应用程序编程接口）。</p>

        <hr>
        <h2>AngularJS 全局 API</h2>
        <p> AngularJS 全局 API 用于执行常见任务的 JavaScript 函数集合，如：</p>
        <ul>
            <li>比较对象</li>
            <li>迭代对象</li>
            <li>转换对象</li>
        </ul>
        <p>全局 API 函数使用 angular 对象进行访问。</p>

        <p>以下列出了一些通用的 API 函数：</p>
        <table class="reference">
            <tbody><tr>
                <th>API</th>
                <th>描述</th>
            </tr>
            <tr>
                <td>angular.lowercase()</td>
                <td>转换字符串为小写</td>
            </tr>
            <tr>
                <td>angular.uppercase()</td>
                <td>转换字符串为大写</td>
            </tr>
            <tr>
                <td>angular.isString()</td>
                <td>判断给定的对象是否为字符串，如果是返回 true。  </td>
            </tr>
            <tr>
                <td>angular.isNumber()</td>
                <td>判断给定的对象是否为数字，如果是返回 true。</td>
            </tr>
            </tbody></table>

        <hr>
        <h3>angular.lowercase()</h3>
        <div class="example">
            <h2 class="example">实例</h2>
            <div class="example_code">
                <span class="highLT">&lt;</span><span class="highELE">div</span> <span class="highATT">ng-app=</span><span class="highVAL">"myApp"</span> <span class="highATT">ng-controller=</span><span class="highVAL">"myCtrl"</span><span class="highGT">&gt;</span><br>
                <span class="highLT">&lt;</span><span class="highELE">p</span><span class="highGT">&gt;</span><span class="highATT">{ { x1 } }</span><span class="highLT">&lt;</span><span class="highELE">/p</span><span class="highGT">&gt;</span><br><span class="highLT">&lt;</span><span class="highELE">p</span><span class="highGT">&gt;</span><span class="highATT">{ { x2 } }</span><span class="highLT">&lt;</span><span class="highELE">/p</span><span class="highGT">&gt;</span><br><span class="highLT">&lt;</span><span class="highELE">/div</span><span class="highGT">&gt;</span><br><br>
                <span class="highLT">&lt;</span><span class="highELE">script</span><span class="highGT">&gt;</span><br>
                var api = angular.module('api', []);<br>
                api.controller('lowercaseCtrl', function($scope) {<br>
                $scope.x1 = "JOHN";<br>
                $scope.x2 = angular.lowercase($scope.x1);<br>
                });<br>
                <span class="highLT">&lt;</span><span class="highELE">/script</span><span class="highGT">&gt;</span>
            </div>
            <br>
            <div ng-controller="lowercaseCtrl">
                <p>{{ x1 }}</p>
                <p>{{ x2 }}</p>
            </div>
        </div>
        <h3>angular.uppercase()</h3>
        <div class="example">
            <h2 class="example">实例</h2>
            <div class="example_code">
                <span class="highLT">&lt;</span><span class="highELE">div</span> <span class="highATT">ng-app=</span><span class="highVAL">"myApp"</span> <span class="highATT">ng-controller=</span><span class="highVAL">"myCtrl"</span><span class="highGT">&gt;</span><br>
                <span class="highLT">&lt;</span><span class="highELE">p</span><span class="highGT">&gt;</span><span class="highATT">{ { x1 } }</span><span class="highLT">&lt;</span><span class="highELE">/p</span><span class="highGT">&gt;</span><br><span class="highLT">&lt;</span><span class="highELE">p</span><span class="highGT">&gt;</span><span class="highATT">{ { x2 } }</span><span class="highLT">&lt;</span><span class="highELE">/p</span><span class="highGT">&gt;</span><br><span class="highLT">&lt;</span><span class="highELE">/div</span><span class="highGT">&gt;</span><br><br>
                <span class="highLT">&lt;</span><span class="highELE">script</span><span class="highGT">&gt;</span><br>
                var api = angular.module('api', []);<br>
                api.controller('uppercaseCtrl', function($scope) {<br>
                $scope.x1 = "John";<br>
                $scope.x2 = angular.uppercase($scope.x1);<br>
                });<br>
                <span class="highLT">&lt;</span><span class="highELE">/script</span><span class="highGT">&gt;</span>
            </div>
            <br>
            <div ng-app="myApp" ng-controller="uppercaseCtrl">
                <p>{{ x1 }}</p>
                <p>{{ x2 }}</p>
            </div>
        </div>
        <h3>angular.isString()</h3>
        <div class="example">
            <h2 class="example">实例</h2>
            <div class="example_code">
                <span class="highLT">&lt;</span><span class="highELE">div</span> <span class="highATT">ng-app=</span><span class="highVAL">"myApp"</span> <span class="highATT">ng-controller=</span><span class="highVAL">"myCtrl"</span><span class="highGT">&gt;</span><br>
                <span class="highLT">&lt;</span><span class="highELE">p</span><span class="highGT">&gt;</span><span class="highATT">{ { x1 } }</span><span class="highLT">&lt;</span><span class="highELE">/p</span><span class="highGT">&gt;</span><br><span class="highLT">&lt;</span><span class="highELE">p</span><span class="highGT">&gt;</span><span class="highATT">{ { x2 } }</span><span class="highLT">&lt;</span><span class="highELE">/p</span><span class="highGT">&gt;</span><br><span class="highLT">&lt;</span><span class="highELE">/div</span><span class="highGT">&gt;</span><br><br>
                <span class="highLT">&lt;</span><span class="highELE">script</span><span class="highGT">&gt;</span><br>
                var api = angular.module('api', []);<br>
                api.controller('isStringCtrl', function($scope) {<br>
                $scope.x1 = "JOHN";<br>
                $scope.x2 = angular.isString($scope.x1);<br>
                });<br>
                <span class="highLT">&lt;</span><span class="highELE">/script</span><span class="highGT">&gt;</span>
            </div>
            <br>
            <div ng-controller="isStringCtrl">
                <p>{{ x1 }}</p>
                <p>{{ x2 }}</p>
            </div>
        </div>
        <h3>angular.isNumber()</h3>
        <div class="example">
            <h2 class="example">实例</h2>
            <div class="example_code">
                <span class="highLT">&lt;</span><span class="highELE">div</span> <span class="highATT">ng-app=</span><span class="highVAL">"myApp"</span> <span class="highATT">ng-controller=</span><span class="highVAL">"myCtrl"</span><span class="highGT">&gt;</span><br>
                <span class="highLT">&lt;</span><span class="highELE">p</span><span class="highGT">&gt;</span><span class="highATT">{ { x1 } }</span><span class="highLT">&lt;</span><span class="highELE">/p</span><span class="highGT">&gt;</span><br><span class="highLT">&lt;</span><span class="highELE">p</span><span class="highGT">&gt;</span><span class="highATT">{ { x2 } }</span><span class="highLT">&lt;</span><span class="highELE">/p</span><span class="highGT">&gt;</span><br><span class="highLT">&lt;</span><span class="highELE">/div</span><span class="highGT">&gt;</span><br><br>
                <span class="highLT">&lt;</span><span class="highELE">script</span><span class="highGT">&gt;</span><br>
                var api = angular.module('api', []);<br>
                api.controller('isNumberCtrl', function($scope) {<br>
                $scope.x1 = "JOHN";<br>
                $scope.x2 = angular.isNumber($scope.x1);<br>
                });<br>
                <span class="highLT">&lt;</span><span class="highELE">/script</span><span class="highGT">&gt;</span>
            </div>
            <br>
            <div ng-controller="isNumberCtrl">
                <p>{{ x1 }}</p>
                <p>{{ x2 }}</p>
            </div>
        </div>

    </div>
</div>