<div class="article-body">

    <div class="article-intro" id="content">

        <h1>AngularJS <span class="color_h1">模块</span></h1>

        <hr>
        <p class="intro">模块定义了一个应用程序。 </p>
        <p class="intro">模块是应用程序中不同部分的容器。</p>
        <p class="intro">模块是应用控制器的容器。</p>
        <p class="intro">控制器通常属于一个模块。</p>

        <hr>
        <h2>带有控制器的模块 </h2>

        <p>应用("myApp") 带有控制器 ("myCtrl"): </p>
        <div class="example">
            <h2 class="example">AngularJS 实例</h2>
            <div class="example_code">
                <span class="highLT">&lt;</span><span class="highELE">!DOCTYPE</span> <span class="highATT">html</span><span class="highGT">&gt;</span><br><span class="highLT">&lt;</span><span class="highELE">html</span><span class="highGT">&gt;</span><br><span class="highLT">&lt;</span><span class="highELE">script</span> <span class="highATT">src=</span><span class="highVAL">"http://apps.bdimg.com/libs/angular.js/1.3.9/angular.min.js"</span><span class="highGT">&gt;</span><span class="highLT">&lt;</span><span class="highELE">/script</span><span class="highGT">&gt;</span><br>
                <span class="highLT">&lt;</span><span class="highELE">body</span><span class="highGT">&gt;</span><br><br><span class="highLT">&lt;</span><span class="highELE">div</span> <span class="highATT">ng-app=</span><span class="highVAL"><strong>"myApp"</strong></span><strong><span class="highATT"></span></strong> ng-controller=<span class="highVAL"><strong>"myCtrl"</strong></span><strong><span class="highATT"></span></strong><span class="highGT">&gt;</span><br>
                <span class="highATT">{ { firstName + " " + lastName } }</span><br><span class="highLT">&lt;</span><span class="highELE">/div</span><span class="highGT">&gt;</span><br><br><span class="highLT">&lt;</span><span class="highELE">script</span><span class="highGT">&gt;</span><br>var
                app
                = angular.module(<strong>"myApp"</strong>,
                []);<br>app.controller(<strong>"myCtrl"</strong>, function($scope) {<br>&nbsp;&nbsp;&nbsp; $scope.firstName
                = "John";<br>&nbsp;&nbsp;&nbsp; $scope.lastName
                = "Doe";<br>});<br><span class="highLT">&lt;</span><span class="highELE">/script</span><span class="highGT">&gt;</span><br><br><span class="highLT">&lt;</span><span class="highELE">/body</span><span class="highGT">&gt;</span><br><span class="highLT">&lt;</span><span class="highELE">/html</span><span class="highGT">&gt;</span>
            </div>
            <br><div ng-controller="myCtrl">
            {{ firstName + " " + lastName }}
        </div>
        </div>
        <hr>

        <h2>模块和控制器包含在 JS 文件中</h2>
        <p>通常 AngularJS 应用程序将模块和控制器包含在  JavaScript 文件中。</p>
        <p>在以下实例中， "myApp.js" 包含了应用模块的定义程序， "myCtrl.js" 文件包含了控制器：</p>
        <div class="example">
            <h2 class="example">AngularJS 实例</h2>
            <div class="example_code">
                <span class="highLT">&lt;</span><span class="highELE">!DOCTYPE</span> <span class="highATT">html</span><span class="highGT">&gt;</span><br><span class="highLT">&lt;</span><span class="highELE">html</span><span class="highGT">&gt;</span><br>
                <span class="highLT">&lt;</span><span class="highELE">script</span> <span class="highATT">src=</span><span class="highVAL">"http://apps.bdimg.com/libs/angular.js/1.3.9/angular.min.js"</span><span class="highGT">&gt;</span><span class="highLT">&lt;</span><span class="highELE">/script</span><span class="highGT">&gt;</span><br>
                <span class="highLT">&lt;</span><span class="highELE">body</span><span class="highGT">&gt;</span><br><br><span class="highLT">&lt;</span><span class="highELE">div</span> <span class="highATT">ng-app=</span><span class="highVAL">"<strong>myApp</strong>"</span>
                <span class="highATT">ng-controller=</span><span class="highVAL">"<strong>myCtrl</strong>"</span><span class="highGT">&gt;</span><br><span class="highATT">{ { firstName + " " + lastName } }</span><br><span class="highLT">&lt;</span><span class="highELE">/div</span><span class="highGT">&gt;</span><br><br>
                <span class="highLT">&lt;</span><span class="highELE">script</span> <span class="highATT">src=</span><span class="highVAL">"<strong>myApp.js</strong>"</span><span class="highGT">&gt;</span><span class="highLT">&lt;</span><span class="highELE">/script</span><span class="highGT">&gt;</span><br>
                <span class="highLT">&lt;</span><span class="highELE">script</span> <span class="highATT">src=</span><span class="highVAL">"<strong>myCtrl.js</strong>"</span><span class="highGT">&gt;</span><span class="highLT">&lt;</span><span class="highELE">/script</span><span class="highGT">&gt;</span><br><br><span class="highLT">&lt;</span><span class="highELE">/body</span><span class="highGT">&gt;</span><br><span class="highLT">&lt;</span><span class="highELE">/html</span><span class="highGT">&gt;</span>
            </div>
            <br>
            <div ng-controller="myCtrl">
                {{ firstName + " " + lastName }}
            </div>
        </div>
        <br>
        <div class="example">
            <h2 class="example">myApp.js</h2>
            <div class="example_code notranslate">
                var app = angular.module(<strong>"myApp"</strong>, []);
            </div>
        </div>
        <br>
        <table class="lamp"><tbody><tr>
            <th style="width:34px"><img src="styles/assets/img/lamp.jpg" alt="Note" style="height:32px;width:32px"></th>
            <td>在模块定义中 [] 参数用于定义模块的依赖关系。<br>
                中括号[]表示该模块没有依赖，如果有依赖的话会在中括号写上依赖的模块名字。</td>
        </tr></tbody></table>
        <br>
        <div class="example">
            <h2 class="example">myCtrl.js</h2>
            <div class="example_code notranslate">
                app.controller(<strong>"myCtrl"</strong>, function($scope) {<br>
                &nbsp;&nbsp;&nbsp; $scope.firstName	= "John";<br>
                &nbsp;&nbsp;&nbsp; $scope.lastName= "Doe";<br>
                });
            </div>
        </div>
        <hr>
        <h2>函数会影响到全局命名空间</h2>
        <p>JavaScript 中应避免使用全局函数。因为他们很容易被其他脚本文件覆盖。</p>
        <p>AngularJS 模块让所有函数的作用域在该模块下，避免了该问题。</p>

        <hr>
        <h2>什么时候载入库?</h2>

        <table class="lamp"><tbody><tr>
            <th style="width:34px"><img src="styles/assets/img/lamp.jpg" alt="Note" style="height:32px;width:32px"></th>
            <td>在我们的实例中，所有 AngularJS 库都在 HTML 文档的头部载入。</td>
        </tr></tbody></table>

        <p>对于 HTML 应用程序，通常建议把所有的脚本都放置在 &lt;body&gt; 元素的最底部。</p>
        <p>这会提高网页加载速度，因为 HTML 加载不受制于脚本加载。</p>
        <p>在我们的多个 AngularJS 实例中，您将看到 AngularJS 库是在文档的 &lt;head&gt; 区域被加载。</p>
        <p>在我们的实例中，AngularJS 在 &lt;head&gt; 元素中被加载，因为对 angular.module 的调用只能在库加载完成后才能进行。</p>
        <p>另一个解决方案是在 &lt;body&gt;  元素中加载 AngularJS 库，但是必须放置在您的 AngularJS 脚本前面：</p>
        <div class="example">
            <h2 class="example">AngularJS 实例</h2>
            <div class="example_code">
                <span class="highLT">&lt;</span><span class="highELE">!DOCTYPE</span> <span class="highATT">html</span><span class="highGT">&gt;</span><br><span class="highLT">&lt;</span><span class="highELE">html</span><span class="highGT">&gt;</span><br><span class="highLT">&lt;</span><span class="highELE">body</span><span class="highGT">&gt;</span><br><br><span class="highLT">&lt;</span><span class="highELE">div</span> <span class="highATT">ng-app=</span><span class="highVAL">"myApp"</span>
                <span class="highATT">ng-controller=</span><span class="highVAL">"myCtrl"</span><span class="highGT">&gt;</span><br><span class="highATT">{ { firstName + " " + lastName } }</span><br><span class="highLT">&lt;</span><span class="highELE">/div</span><span class="highGT">&gt;</span><br>
                <br><span class="highLT">&lt;</span><span class="highELE">script</span> <span class="highATT">src=</span><span class="highVAL">"http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"</span><span class="highGT">&gt;</span><span class="highLT">&lt;</span><span class="highELE">/script</span><span class="highGT">&gt;</span><br><span class="highLT">&lt;</span><span class="highELE">script</span><span class="highGT">&gt;</span><br>var app = angular.module("myApp",
                []);<br>app.controller("myCtrl", function($scope) {<br>&nbsp;&nbsp;&nbsp; $scope.firstName
                = "John";<br>&nbsp;&nbsp;&nbsp; $scope.lastName
                = "Doe";<br>});<br><span class="highLT">&lt;</span><span class="highELE">/script</span><span class="highGT">&gt;</span><br><br><span class="highLT">&lt;</span><span class="highELE">/body</span><span class="highGT">&gt;</span><br><span class="highLT">&lt;</span><span class="highELE">/html</span><span class="highGT">&gt;</span>
            </div>
            <br><div ng-controller="myCtrl">
            {{ firstName + " " + lastName }}
        </div>
        </div>


    </div>
</div>