<div class="article-body">
    <div class="article-intro" id="content">
        <h1>AngularJS <span class="color_h1">作用域</span></h1>
        <hr>
        <p class="intro">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作用域是构成AngularJS应用的核心基础，在整个框架中都被广泛使用，因此了解 它如何工作是非常重要的。
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;应用的作用域是和应用的数据模型相关联的，同时作用域也是表达式执行的上下文。$scope 对象是定义应用业务逻辑、控制器方法和视图属性的地方。
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作用域是视图和控制器之间的胶水。在应用将视图渲染并呈献给用户之前，视图中的模板会 和作用域进行连接，然后应用会对DOM进行设置以便将属性变化通知给AngularJS。这个功能让 XHR请求等promise对象的实现变得非常容易。
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作用域是应用状态的基础。基于动态绑定，我们可以依赖视图在修改数据时立刻更新$scope， 也可以依赖$scope在其发生变化时立刻重新渲染视图。
            <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AngularJS将$scope设计成和DOM类似的结构，因此$scope可以进行嵌套，也就是说我们可 以引用父级$scope中的属性。
        </p>
        <hr>
        <table class="lamp">
            <tbody>
                <tr>
                    <th style="width:34px"><img src="styles/assets/img/lamp.jpg" alt="Note" style="height:32px;width:32px"></th>
                    <td>
                        如果你了解JavaScript，对这个分层的概念应该并不陌生。在JavaScript中，当创建一个新的执行上下文时，实际上是用函数创建了一个新的本地上下文。AngularJS中$scope的概念与其类似，当为子DOM元素创建新的作用域时，实际上是为子DOM元素创建了一个新的执行上下文。</td>
                </tr>
            </tbody>
        </table>
        <h2>视图和$scope</h2>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AngularJS启动并生成视图时，会将根ng-app元素同$rootScope进行绑定。$rootScope是所有$scope对象的最上层。
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$rootScope是AngularJS中最接近全局作用域的对象。在$rootScope上附加太多业务逻并不是好主意，这与污染JavaScript的全局作用域是一样的。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$scope对象就是一个普通的JavaScript对象，我们可以在其上随意修改或添加属性。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$scope对象在AngularJS中充当数据模型，但与传统的数据模型不一样，$scope并不负责处 理和操作数据，它只是视图和HTML之间的桥梁，它是视图和控制器之间的胶水。 $scope的所有属性，都可以自动被视图访问到。
        </p>
        <div class="example">
            <h2 class="example">AngularJS 实例</h2>
            <div class="example_code">
                <pre>
&lt;div&gt;
    &lt;h1&gt;hello {{ name }}&lt;/h1&gt;
&lt;/div&gt;
angular.module('myApp', [])
.run(function($rootScope) {
    $rootScope.name = "World";
});</pre>
            </div>
            <hr>
            <div>
                <h1>Hello {{ name }}</h1>
            </div>
        </div>
        <h2>作用域的功能</h2>
        <ul>
            <li>提供观察者以监视数据模型的变化；</li>
            <li>可以将数据模型的变化通知给整个应用，甚至是系统外的组件；</li>
            <li>可以进行嵌套，隔离业务功能和数据；</li>
            <li>给表达式提供运算时所需的执行环境。</li>
        </ul>
        <table class="lamp">
            <tbody>
                <tr>
                    <th style="width:34px"><img src="styles/assets/img/lamp.jpg" alt="Note" style="height:32px;width:32px"></th>
                    <td>
                        作用域包含了渲染视图时所需的功能和数据，它是所有视图的唯一源头。可以将作用域理解成视图模型</td>
                </tr>
            </tbody>
        </table>
        <h2>$scope的生命周期</h2>
        <h3>创建</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在创建控制器或指令时，AngularJS会用$injector创建一个新的作用域，并在这个新建的控制器或指令运行时将作用域传递进去。</p>
        <h3>链接</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当Angular开始运行时，所有的$scope对象都会附加或者链接到视图中。所有创建$scope对象的函数也会将自身附加到视图中。这些作用域将会注册当Angular应用上下文中发生变化时需要运行的函数。</p>
        <h3>更新</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当事件循环运行时，它通常执行在顶层$scope对象上（被称作$rootScope），每个子作用域都执行自己的脏值检测。每个监控函数都会检查变化。如果检测到任意变化，$scope对象就会触 发指定的回调函数。</p>
        <h3>销毁</h3>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当一个$scope在视图中不再需要时，这个作用域将会清理和销毁自己。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;尽管永远不会需要清理作用域（因为Angular会为你处理），但是知道是谁创建了这个作用域还是有用的，因为你可以使用这个$scope上叫做$destory()的方法来清理这个作用域。</p>
    </div>
</div>
