<div class="article-body">

    <div class="article-intro" id="content">


        <h1>AngularJS <span class="color_h1">SQL</span></h1>

        <hr>
        <p class="intro">
            在前面章节中的代码也可以用于读取数据库中的数据。
        </p>

        <hr>
        <h2>使用 PHP 从 MySQL 中获取数据</h2>
        <div class="example">
            <h2 class="example">AngularJS 实例</h2>
            <div class="example_code notranslate htmlHigh">
                <span class="highLT">&lt;</span><span class="highELE">div</span> <span class="highATT">ng-app=</span><span class="highVAL">"myApp"</span> <span class="highATT">ng-controller=</span><span class="highVAL">"customersCtrl"</span><span class="highGT">&gt;</span> <br><br><span class="highLT">&lt;</span><span class="highELE">table</span><span class="highGT">&gt;</span><br>&nbsp; <span class="highLT">&lt;</span><span class="highELE">tr</span>
                <span class="highATT">ng-repeat=</span><span class="highVAL">"x in names"</span><span class="highGT">&gt;</span><br>&nbsp;&nbsp;&nbsp; <span class="highLT">&lt;</span><span class="highELE">td</span><span class="highGT">&gt;</span><span class="highATT">{{ x.Name }}</span><span class="highLT">&lt;</span><span class="highELE">/td</span><span class="highGT">&gt;</span><br>
                &nbsp;&nbsp;&nbsp; <span class="highLT">&lt;</span><span class="highELE">td</span><span class="highGT">&gt;</span><span class="highATT">{{ x.Country
}}</span><span class="highLT">&lt;</span><span class="highELE">/td</span><span class="highGT">&gt;</span><br>&nbsp; <span class="highLT">&lt;</span><span class="highELE">/tr</span><span class="highGT">&gt;</span><br><span class="highLT">&lt;</span><span class="highELE">/table</span><span class="highGT">&gt;</span><br><br><span class="highLT">&lt;</span><span class="highELE">/div</span><span class="highGT">&gt;</span><br><br>
                <span class="highLT">&lt;</span><span class="highELE">script</span><span class="highGT">&gt;</span><br>var app = angular.module('myApp', []);<br>app.controller('customersCtrl',
                function($scope, $http) {<br>&nbsp;&nbsp;&nbsp; $http.get("http://www.runoob.com/try/angularjs/data/Customers_MySQL.php")<br>&nbsp;&nbsp;&nbsp;
                .success(function (response) {$scope.names = response.records;});<br>});<br><span class="highLT">&lt;</span><span class="highELE">/script</span><span class="highGT">&gt;</span></div>
            <br><a class="tryitbtn" href="/try/tryit.php?filename=try_ng_customers_mysql" target="_blank">尝试一下 »</a>
        </div>
        <hr>
        <h2>ASP.NET 中执行 SQL 获取数据</h2>
        <div class="example">
            <h2 class="example">AngularJS 实例</h2>
            <div class="example_code notranslate htmlHigh">
                <span class="highLT">&lt;</span><span class="highELE">div</span> <span class="highATT">ng-app=</span><span class="highVAL">"myApp"</span> <span class="highATT">ng-controller=</span><span class="highVAL">"customersCtrl"</span><span class="highGT">&gt;</span> <br><br><span class="highLT">&lt;</span><span class="highELE">table</span><span class="highGT">&gt;</span><br>&nbsp; <span class="highLT">&lt;</span><span class="highELE">tr</span>
                <span class="highATT">ng-repeat=</span><span class="highVAL">"x in names"</span><span class="highGT">&gt;</span><br>&nbsp;&nbsp;&nbsp; <span class="highLT">&lt;</span><span class="highELE">td</span><span class="highGT">&gt;</span><span class="highATT">{{ x.Name }}</span><span class="highLT">&lt;</span><span class="highELE">/td</span><span class="highGT">&gt;</span><br>
                &nbsp;&nbsp;&nbsp; <span class="highLT">&lt;</span><span class="highELE">td</span><span class="highGT">&gt;</span><span class="highATT">{{ x.Country
}}</span><span class="highLT">&lt;</span><span class="highELE">/td</span><span class="highGT">&gt;</span><br>&nbsp; <span class="highLT">&lt;</span><span class="highELE">/tr</span><span class="highGT">&gt;</span><br><span class="highLT">&lt;</span><span class="highELE">/table</span><span class="highGT">&gt;</span><br><br><span class="highLT">&lt;</span><span class="highELE">/div</span><span class="highGT">&gt;</span><br><br>
                <span class="highLT">&lt;</span><span class="highELE">script</span><span class="highGT">&gt;</span><br>var app = angular.module('myApp', []);<br>app.controller('customersCtrl',
                function($scope, $http) {<br>&nbsp;&nbsp;&nbsp; $http.get("http://www.runoob.com/try/angularjs/data/Customers_SQL.aspx")<br>&nbsp;&nbsp;&nbsp; .success(function (response) {$scope.names = response.records;});<br>});<br><span class="highLT">&lt;</span><span class="highELE">/script</span><span class="highGT">&gt;</span></div>
            <br><a class="tryitbtn" href="/try/tryit.php?filename=try_ng_customers_sql" target="_blank">尝试一下 »</a>
        </div>
        <hr>
        <h2>服务端代码</h2>
        <p>以下列出了列出了几种服务端代码类型：</p>
        <ol>
            <li>使用 PHP 和 MySQL。返回 JSON。</li>
            <li>使用 PHP 和 MS Access。返回 JSON。</li>
            <li>使用 ASP.NET, VB, 及 MS Access。 返回 JSON。</li>
            <li>使用 ASP.NET, Razor, 及 SQL Lite。 返回 JSON。</li>
        </ol>
        <hr>
        <h2>跨域 HTTP 请求</h2>
        <p>如果你需要从不同的服务器（不同域名）上获取数据就需要使用跨域 HTTP 请求。</p>
        <p>跨域请求在网页上非常常见。很多网页从不同服务器上载入 CSS, 图片，Js脚本等。</p>
        <p>在现代浏览器中，为了数据的安全，所有请求被严格限制在同一域名下，如果需要调用不同站点的数据，需要通过跨域来解决。</p>

        <p>以下的 PHP 代码运行使用的网站进行跨域访问。</p>

        <div class="example">
            <div class="example_code">
                header("Access-Control-Allow-Origin: *");</div>
        </div>
        <p>更多跨域访问解决方案可参阅：<a href="/w3cnote/php-ajax-cross-border.html" target="_blank">PHP Ajax 跨域问题最佳解决方案</a>。</p>
        <hr>
        <h2>1. PHP 和 MySql 代码实例</h2>

        <div class="example">
            <div class="example_code">
                &lt;?php<br>header("Access-Control-Allow-Origin: *");<br>header("Content-Type:
                application/json; charset=UTF-8");<br><br>$conn =
                new mysqli("myServer", "myUser", "myPassword", "Northwind");<br><br>$result = $conn-&gt;query("SELECT
                CompanyName, City, Country FROM Customers");<br><br>$outp = "";<br>
                while($rs = $result-&gt;fetch_array(MYSQLI_ASSOC)) {<br>&nbsp;&nbsp;&nbsp;
                if ($outp != "") {$outp .= ",";}<br>&nbsp;&nbsp;&nbsp; $outp .= '{"Name":"'&nbsp; . $rs["CompanyName"] . '",';<br>
                &nbsp;&nbsp;&nbsp; $outp .= '"City":"'&nbsp;&nbsp; . $rs["City"]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; . '",';<br>
                &nbsp;&nbsp;&nbsp; $outp .= '"Country":"'. $rs["Country"]&nbsp;&nbsp;&nbsp;&nbsp; . '"}';
                <br>}<br>$outp ='{"records":['.$outp.']}';<br>$conn-&gt;close();<br><br>echo($outp);<br>?&gt;
            </div>
        </div>
        <hr>
        <h2>2. PHP 和 MS Access 代码实例</h2>

        <div class="example">
            <div class="example_code notranslate">
                &lt;?php<br>header("Access-Control-Allow-Origin: *");<br>header("Content-Type:
                application/json; charset=ISO-8859-1");<br><br>$conn = new COM("ADODB.Connection");<br>
                $conn-&gt;open("PROVIDER=Microsoft.Jet.OLEDB.4.0;Data Source=Northwind.mdb");<br>
                <br>$rs = $conn-&gt;execute("SELECT CompanyName, City, Country FROM
                Customers");<br><br>$outp = "";<br>while (!$rs-&gt;EOF) {<br>&nbsp;&nbsp;&nbsp;
                if ($outp != "") {$outp .= ",";}<br>&nbsp;&nbsp;&nbsp; $outp .= '{"Name":"'&nbsp; . $rs["CompanyName"] . '",';<br>
                &nbsp;&nbsp;&nbsp; $outp .= '"City":"'&nbsp;&nbsp; . $rs["City"]&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; . '",';<br>&nbsp;&nbsp;&nbsp; $outp .= '"Country":"'. $rs["Country"]&nbsp;&nbsp;&nbsp;&nbsp; . '"}';
                <br>&nbsp;&nbsp;&nbsp; $rs-&gt;MoveNext();<br>}<br>$outp ='{"records":['.$outp.']}';<br><br>
                $conn-&gt;close();<br><br>echo ($outp);<br>?&gt;
            </div>
        </div>
        <hr>
        <h2>3. ASP.NET, VB 和 MS Access 代码实例</h2>

        <div class="example">
            <div class="example_code">
                &lt;%@ Import Namespace="System.IO"%&gt;<br>&lt;%@ Import Namespace="System.Data"%&gt;<br>
                &lt;%@ Import Namespace="System.Data.OleDb"%&gt;<br>&lt;%<br>
                Response.AppendHeader("Access-Control-Allow-Origin", "*")<br>
                Response.AppendHeader("Content-type", "application/json")<br>Dim conn As
                OleDbConnection<br>Dim objAdapter As OleDbDataAdapter<br>Dim objTable As
                DataTable<br>Dim objRow As DataRow<br>Dim objDataSet As New DataSet()<br>
                Dim outp<br>Dim c<br>conn = New OledbConnection("Provider=Microsoft.Jet.OLEDB.4.0;data
                source=Northwind.mdb")<br>objAdapter = New OledbDataAdapter("SELECT
                CompanyName, City, Country FROM Customers", conn)<br>objAdapter.Fill(objDataSet,
                "myTable")<br>objTable=objDataSet.Tables("myTable")<br><br>outp = ""<br>
                c = chr(34)<br>for each x in objTable.Rows<br>if outp &lt;&gt; "" then outp = outp &amp; ","<br>
                outp = outp &amp; "{" &amp; c &amp; "Name"&nbsp;&nbsp;&nbsp; &amp; c &amp; ":" &amp; c &amp; x("CompanyName")
                &amp; c &amp; ","<br>
                outp = outp &amp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; c &amp; "City"&nbsp;&nbsp;&nbsp; &amp; c &amp; ":" &amp; c
                &amp; x("City")&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &amp; c &amp; ","
                <br>outp = outp &amp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; c &amp; "Country" &amp; c
                &amp; ":" &amp; c &amp; x("Country")&nbsp;&nbsp;&nbsp;&nbsp; &amp; c &amp; "}"<br>next<br><br>outp
                ="{" &amp; c &amp; "records" &amp; c &amp; ":[" &amp; outp &amp; "]}"<br>response.write(outp)<br>conn.close<br>%&gt;
            </div>
        </div>
        <hr>
        <h2>4. ASP.NET, VB Razor 和 SQL Lite 代码实例</h2>

        <div class="example">
            <div class="example_code notranslate">
                @{<br>Response.AppendHeader("Access-Control-Allow-Origin", "*")<br>
                Response.AppendHeader("Content-type", "application/json")<br>var db =
                Database.Open("Northwind");<br>var query = db.Query("SELECT CompanyName,
                City, Country FROM Customers");<br>var outp =""<br>var c = chr(34)<br>}<br>@foreach(var row in
                query)<br>{<br>if outp &lt;&gt; "" then outp = outp + ","<br>outp = outp + "{" + c + "Name"&nbsp;&nbsp;&nbsp; + c + ":" + c
                + @row.CompanyName + c + ","<br>outp = outp +&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; c
                + "City"&nbsp;&nbsp;&nbsp; + c + ":" + c
                + @row.City&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; + c + ","<br>outp = outp
                +&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; c + "Country" + c
                + ":" + c + @row.Country&nbsp;&nbsp;&nbsp;&nbsp; + c + "}"<br>}<br>outp ="{" + c
                + "records" + c + ":[" + outp + "]}"<br>@outp
            </div>
        </div>

    </div>
</div>