<div class="article-body">

    <div class="article-intro" id="content">

        <h1>AngularJS <span class="color_h1">教程</span>
        </h1>
        <br>

        <div class="tutintro">
            <img src="styles/assets/img/angular.jpg" alt="Angular" style="height:132px;width:132px">

            <p>AngularJS 通过新的属性和表达式扩展了 HTML。</p>

            <p>AngularJS 可以构建一个单一页面应用程序（SPAs：Single Page Applications）。</p>

            <p>AngularJS 学习起来非常简单。</p>

            <p><strong><a href="/angularjs/angularjs-intro.html">现在开始学习 AngularJS！</a></strong></p>
        </div>
        <hr>

        <h2>每个章节都有相应的实例</h2>

        <p>在每个章节中，您可以在线编辑实例，然后点击按钮查看结果。</p>

        <div class="example">
            <h2 class="example">AngularJS 实例</h2>

            <div class="example_code notranslate htmlHigh">
                &lt;!DOCTYPE html&gt;<br>
                &lt;html&gt;<br><br>
                &lt;body&gt;<br><br>
                &lt;div ng-app=""&gt;<br>
                &nbsp; &lt;p&gt;在输入框中尝试输入：&lt;/p&gt;<br>
                &nbsp; &lt;p&gt;姓名：&lt;input type="text" ng-model="name"&gt;&lt;/p&gt;<br>
                &nbsp; &lt;p ng-bind="name"&gt;&lt;/p&gt;<br>
                &lt;/div&gt;<br><br>
                &lt;script src="http://apps.bdimg.com/libs/angular.js/1.3.9/angular.min.js"&gt;&lt;/script&gt;<br><br>
                &lt;/body&gt;<br>
                &lt;/html&gt;
            </div>
            <br>
            <p>在输入框中尝试输入：</p>
            <p>姓名：<input type="text" ng-model="name"></p>
            <p ng-bind="name"></p>
        </div>
        <br>
        <hr>

        <h2>阅读本教程前，您需要了解的知识：</h2>

        <p>在开始学习 AngularJS 之前，您需要具备以下基础知识：</p>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
        </ul>
        <hr>

        <h2>AngularJS 历史 <a href="http://blog.jobbole.com/63264/" target="_blank" style="font-size:16px;">Angular 2.0 的设计方法和原则</a></h2>

        <p>AngularJS 是比较新的技术，版本 1.0 是在 2012 年发布的。</p>

        <p>AngularJS 是由 Google 的员工 Miško Hevery 从 2009 年开始着手开发。</p>

        <p>这是一个非常好的构想，该项目目前已由 Google 正式支持，有一个全职的开发团队继续开发和维护这个库。</p>
        <hr>

        <h2>AngularJS 实例</h2>

        <p>本教程包含了大量的 AngularJS 实例！</p>

        <p><a href="http://www.runoob.com/angularjs/angularjs-examples.html">AngularJS 实例</a></p>
        <hr>

        <h2>AngularJS 参考手册</h2>

        <p>参考手册包含了本教程中使用到的所有指令和过滤器。</p>

        <p><a href="http://www.runoob.com/angularjs/angularjs-reference.html">AngularJS 参考手册</a></p>
        <br><br>

    </div>
</div>