<div class="article-body">
    <div class="article-intro" id="content">
        <h1>AngularJS <span class="color_h1">输入验证</span></h1>
        <hr>
        <p class="intro">AngularJS 表单和控件可以验证输入的数据。</p>
        <hr>
        <h2>输入验证</h2>
        <p>在前面的几个章节中，你已经学到关于 AngularJS 表单和控件的知识。</p>
        <p>AngularJS 表单和控件可以提供验证功能，并对用户输入的非法数据进行警告。</p>
        <p>
        </p>
        <table class="lamp">
            <tbody>
                <tr>
                    <th style="width:34px"><img src="styles/assets/img/lamp.jpg" alt="Note" style="height:32px;width:32px"></th>
                    <td>客户端的验证不能确保用户输入数据的安全，所以服务端的数据验证也是必须的。</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h2>应用代码</h2>
        <div class="example">
            <div class="example_code">
                <pre>
&lt;form ng-controller="validateCtrl" name="myForm" novalidate&gt;
    &lt;p&gt;用户名:
        &lt;br&gt;
        &lt;input type="text" name="user" ng-model="user" required&gt;
        &lt;span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid"&gt;
&lt;span ng-show="myForm.user.$error.required"&gt;用户名是必须的。&lt;/span&gt;
        &lt;/span&gt;
    &lt;/p&gt;
    &lt;p&gt;邮箱:
        &lt;br&gt;
        &lt;input type="email" name="email" ng-model="email" required&gt;
        &lt;span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid"&gt;
&lt;span ng-show="myForm.email.$error.required"&gt;邮箱是必须的。&lt;/span&gt;
        &lt;span ng-show="myForm.email.$error.email"&gt;非法的邮箱地址。&lt;/span&gt;
        &lt;/span&gt;
    &lt;/p&gt;
    &lt;p&gt;必填项:
        &lt;br&gt;
        &lt;input type="text" name="text" required ng-model="text"&gt;
        &lt;span class="color:red" ng-show="myForm.text.$dirty && myForm.text.$invalid"&gt;这是必填项&lt;/span&gt;
    &lt;/p&gt;
    &lt;p&gt;模式匹配
        &lt;br&gt;
        &lt;input type="text" name="pattern" ng-pattern="/^[a-zA-Z]+$/" ng-model="pattern"&gt;
        &lt;span class="color:red" ng-show="myForm.pattern.$dirty && myForm.pattern.$invalid"&gt;请填写a-z或者A-Z的字符串&lt;/span&gt;
    &lt;/p&gt;
    &lt;p&gt;
        &lt;input type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||
myForm.email.$dirty && myForm.email.$invalid"&gt;
    &lt;/p&gt;
&lt;/form&gt;
</pre>
            </div>
            <br>
            <form ng-controller="validateCtrl" name="myForm" novalidate>
                <p>用户名:
                    <br>
                    <input type="text" name="user" ng-model="user" required>
                    <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
<span ng-show="myForm.user.$error.required">用户名是必须的。</span>
                    </span>
                </p>
                <p>邮箱:
                    <br>
                    <input type="email" name="email" ng-model="email" required>
                    <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
<span ng-show="myForm.email.$error.required">邮箱是必须的。</span>
                    <span ng-show="myForm.email.$error.email">非法的邮箱地址。</span>
                    </span>
                </p>
                <p>必填项:
                    <br>
                    <input type="text" name="text" required ng-model="text">
                    <span class="color:red" ng-show="myForm.text.$dirty && myForm.text.$invalid">这是必填项</span>
                </p>
                <p>模式匹配
                    <br>
                    <input type="text" name="pattern" ng-pattern="/^[a-zA-Z]+$/" ng-model="pattern">
                     <span class="color:red" ng-show="myForm.pattern.$dirty && myForm.pattern.$invalid">请填写a-z或者A-Z的字符串</span>
                </p>
                <p>
                    <input type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||
myForm.email.$dirty && myForm.email.$invalid">
                </p>
            </form>
        </div>
        <br>
        <table class="lamp">
            <tbody>
                <tr>
                    <th style="width:34px"><img src="styles/assets/img/lamp.jpg" alt="Note" style="height:32px;width:32px"></th>
                    <td> HTML 表单属性 <strong>novalidate</strong> 用于禁用浏览器默认的验证。</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h2>实例解析</h2>
        <p>
            AngularJS <strong>ng-model</strong> 指令用于绑定输入元素到模型中。</p>
        <p>
        </p>
        <p>
            模型对象有两个属性： <strong>user</strong> 和 <strong>email</strong>。</p>
        <p>
            我们使用了 <strong>ng-show</strong>指令， color:red 在邮件是 <strong>$dirty</strong> 或 <strong>$invalid</strong> 才显示。</p>
        <table class="reference">
            <tbody>
                <tr>
                    <th>属性</th>
                    <th>描述</th>
                </tr>
                <tr>
                    <td>$dirty</td>
                    <td>表单有填写记录</td>
                </tr>
                <tr>
                    <td>$valid</td>
                    <td>字段内容合法的</td>
                </tr>
                <tr>
                    <td>$invalid</td>
                    <td>字段内容是非法的</td>
                </tr>
                <tr>
                    <td>$pristine</td>
                    <td>表单没有填写记录</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
